body {
    font-family: sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
p{
    font-family: sans-serif;
    font-size: 40px;
    font-weight: bold;
}
.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;
    width: 300px;
    height: 300px;
}
.container button {
    border: 1px solid black;
    outline: none;
    width: 100px;
    height: 100px;
    background-color: aliceblue;
}
.container button:hover {
    background-color: #d8e9f8;
}